{% extends 'Dashboard.html' %}

{% block content %}

    <!-- Form -->
	<div class="form-containner editProfile">
		<h1>Edit Profile</h1>
		{% for message in messages %}
			<p class="message" style="background-color: {{msg_color}}">{{message}}</p>
		{% endfor %}
		<form method="POST" action="/EditProfile/">
		  {% csrf_token %}
		  <div class="form-row">
		    <div class="form-group col-md-6">
		      <label for="inputAddress">First Name</label>
		      <input type="text" class="form-control" value="{{user.first_name}}" id="firstname" name="firstname" placeholder="First Name">
		    </div>
		    <div class="form-group col-md-6">
		      <label for="inputAddress">Last Name</label>
		      <input type="text" class="form-control" value="{{user.last_name}}" id="lastname" name="lastname" placeholder="Last Name">
		    </div>
		  </div>
		  <div class="form-row">
		    <div class="form-group col-md-6">
		      <label for="inputAddress">Email</label>
		      <input type="email" class="form-control" value="{{user.email}}" id="lastname" name="email" placeholder="Email" disabled>
		    </div>
		    <div class="form-group col-md-6">
		      <label for="inputAddress">Username</label>
		      <input type="text" class="form-control" value="{{user.username}}" id="username" name="username" placeholder="Username">
		    </div>
		  </div>
		  <div class="form-row">
		    <div class="form-group col-md-6">
		      <label for="inputAddress2">Password</label>
		      <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password">
		    </div>
		    <div class="form-group col-md-6">
		      <label for="inputAddress2">New Password</label>
		      <input type="password" class="form-control" id="inputPassword4" name="new_password" placeholder="leave it blank, if you don't want to change">
		    </div>
		  </div>
		  <button type="submit" class="btn btn-success">Save</button>
		  <button type="button" onclick="deleteAccount()" class="btn btn-danger">Delete Account</button>
		</form>
	</div>
	<script>
		function deleteAccount(){
			if (confirm("Are you sure you want to delete account All data of your account will get deleted also.")==true){
				window.location = '/deleteAccount/'
			}
		}

	</script>

{% endblock %}