{% extends 'index.html' %}

{% block css %}


<div class='login-container'>
  <div class="login-wrap">
	<div class="login-html">


			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
			<div class="login-form">
				<div class="sign-in-htm">
					<form action="Login" method="POST">
						{% csrf_token %}
					<div class="group">
						<label for="user" class="label">Username</label>
						<input id="user" type="text" name="username" class="input">
					</div>
					<div class="group">
						<label for="pass" class="label">Password</label>
						<input id="pass" type="password" class="input" name="password" data-type="password">
					</div>
					<div class="group">
						<input id="check" type="checkbox" name="KeepSigned" class="check" checked>
						<label for="check"><span class="icon"></span> Keep me Signed in</label>
					</div>
					<div class="group">
						<input type="submit" class="button" value="Sign In">
					</div>
					</form>
					{% for message in messages %}
					<p class="message">{{message}}</p>
					{% endfor %}
					<div class="hr"></div>
					<div class="foot-lnk">
						<a href="#forgot" class="forget">Forgot Password?</a>
					</div>
				</div>
				<div class="sign-up-htm">
					<form action="Signup" method="POST">
						{% csrf_token %}
					<div class="group">
						<label for="user" class="label">Name</label>
						<input id="user" name="name" type="text" class="input">
					</div>
					<div class="group">
						<label for="user" class="label">Username</label>
						<input id="user" name="username" type="text" class="input">
					</div>
					<div class="group">
						<label for="pass" class="label">Password</label>
						<input id="pass" name='password' type="password" class="input" data-type="password">
					</div>
					<div class="group">
						<label for="pass" class="label">Repeat Password</label>
						<input id="pass" type="password" class="input" data-type="password" name="repeat_password">
					</div>
					<div class="group">
						<label for="pass" class="label">Email Address</label>
						<input id="pass" type="text" class="input" name="email">
					</div>
					<div class="group">
						<input type="submit" class="button" value="Sign Up">
					</div>
					</form>
					{% for message in messages %}
					<p class="message">{{message}}</p>
					{% endfor %}
					<div class="hr"></div>
					<div class="foot-lnk">
						<label for="tab-1" class="forget">Already Member?</a>
					</div>
				</div>
			</div>

	</div>
</div>
</div>

{% endblock %}
